cat << 'EOF' > .gitignore
# System / Environment
__pycache__/
venv/
env/
.env
.DS_Store

# Downloaded Media (Hasil Download)
*.mp4
*.mp3
*.m4a
*.webm
*.jpg
*.jpeg
*.png
*.webp
*.part
*.ytdl
downloaded.txt

# Python System Files (Yang tidak sengaja terbuat)
argparse
sys
time
EOF